.textContainer {
    align-content: center;
    margin-left: 10%;
    max-width: 80%;
}

.courseCol {
    display: inline-block;
    align-content: center;
}

.screenshotSizing {
    max-width: 80%;
    max-height: 700px;
}